.comment-form-container {
    padding: 10px;
    margin: 5px;
}

.comment-form {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15px;
    margin: 10px;
    border: solid rgb(245, 245, 245) 1px;
}

.comment-form textarea {
    min-width: 60vmin;
    min-height: 5vmin;
}