.header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.glitch {
    position: relative;
    color: rgb(245, 245, 245);
    font-size: 3vmin;
    animation: flicker-anim 6s infinite;
}

@keyframes flicker-anim {
    0%, 100% {
        color: rgb(245, 245, 245);
    }
    5%, 10% {
        color: rgb(63, 63, 63);
    }
    7%, 12% {
        color: rgb(245, 245, 245);
    }
    17%, 27% {
        color: rgb(245, 245, 245);
    }
    29% {
        color: rgb(255, 0, 0);
    }
    30%, 33% {
        color: rgb(63, 63, 63);
    }
    35%, 37% {
        color: rgb(245, 245, 245);
    }
}