.header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.glitch {
    position: relative;
    color: whitesmoke;
    font-size: 3vmin;
    animation: flicker-anim 6s infinite;
}

@keyframes flicker-anim {
    0%, 100% {
        color: whitesmoke;
    }
    5%, 10% {
        color: rgb(65, 64, 64);
    }
    7%, 12% {
        color: whitesmoke;
    }
    17%, 27% {
        color: whitesmoke;
    }
    29% {
        color: red;
    }
    30%, 33% {
        color: black;
    }
    35%, 37% {
        color: whitesmoke;
    }
}