nav {
    border: solid whitesmoke 1px;
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: whitesmoke;
}

a:hover {
    color: rgb(255, 0, 0);
}