body {
    height: 100vh;
    width: auto;
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'aside main main main main main';
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    box-shadow: 1px 1px 10px rgb(0, 0, 0); 
}

main {
    grid-area: main;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

h1, h2 {
    font-family: 'Special Elite', cursive;
}

button {
    background-color: rgb(21, 21, 21);
    padding: 5px;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border: none;
}

button:hover {
    background-color: rgb(195, 26, 26);
}