body {
    height: 100vh;
    width: auto;
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    font-family: 'Special Elite', cursive;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'aside main main main main main';
}

header {
    grid-area: header;
}

aside {
    grid-area: aside; 
}

main {
    grid-area: main; 
}