.container {
    display: grid;
    grid-template-areas:
        'header header'
        'aside main';
}

header {
    grid-area: header;
}

aside {
    grid-area: aside; 
}

main {
    grid-area: main; 
}