.comments-container {
    border: solid whitesmoke 1px;
    padding: 7px;
    margin: 5px;
}

.comments-container li {
    list-style: none;
    border: solid whitesmoke 1px;
    margin: 5px;
    padding: 10px;
}

.comments-container button {
    padding: 2px;
    width: 2.5vmin;
    height: 2.5vmin;
}

.comment-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}