.comments-container {
    padding: 5px;
    margin: 5px;
}

.comments-container li {
    list-style: none;
    border: solid whitesmoke 1px;
    margin: 5px;
    padding: 10px;
}

.comment-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}